.typing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  margin-left: 50px;

  &__field {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    //height: 100%;
  }
}
